<div class="table-responsive mt-5 p-5">
  <table class="table  table-sm text-bg-dark">
    <thead>
      <tr>
        <th class="col-1">S no.</th>
        <th class="col-1">Date</th>
        <th class="col-2">Name</th>
        <th class="col-4">Items</th>
        <th class="col-2">Amount</th>
        <th class="col-1" style="text-align: center;">Payby</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody id="tBody">
      
    </tbody>
    <button id="exportData"  class="btn btn-primary btn-lg " style="position:fixed;bottom:5px;right:15px;margin:0;padding:5px 3px;" onclick="ExportData()">Save Data</button>
  </table>
</div>